body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    overflow-x: hidden;
    background-color: rgb(118, 118, 141);
}
img{
    width: 100%;
}

* {
    box-sizing: border-box;
}
h1{

}
p{

}
h3{

}
.read-more-div{
    display: none;
    color: black;
    background-color: rgb(115, 114, 146);
    padding: 5px;
}
